body {
  background-color: lightseagreen;
}

.boek {
  padding: 1em;
  background-color: azure;
  padding-bottom: 30px;
  margin: 30px;
  margin-bottom: 100px;
  max-width: 100%;
  border-radius: 25px;
  text-align: center;
}

.boek_cover {
  padding-bottom: 30px;
  max-width: 250px;
}

h3 {
  font-size: 30px;
  color: lightgreen;
}

.boek_prijs {
  font-size: 30px;
  padding: 20px;
  margin: 10px 30% 10px 30%;
  background-color: lightseagreen;
  border-radius: 30px;
  color: lightgreen;
}

@media (min-width: 1250px) {
  #boeken {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .boek:nth-child(4n + 2),
  .boek:nth-child(4n + 3) {
    background-color: rgb(23, 73, 70);
  }
}
